<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_head %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
        <script>var csrfToken = "{{ csrf_token }}";</script>
        <script src="{% static 'scripts/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'scripts/sweetalert2@11.js' %}"></script>
        <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'scripts/general.js' %}"></script>
    {% block extra_scripts %}{% endblock %}

</body>
</html>