{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <title>TESTY SBS - LEKTOR</title>
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}
    {% include 'log-out.html' %}
    <div class="back-button-container">
          <button class="back-button" onclick="goBack()"><i class="fa-solid fa-arrow-left"></i> Späť</button>
    </div>

    <style>
        @media screen and (max-width: 1270px) {
            .logged-in-user-p{
                font-size: 20px;
                margin-top: 15px;
            }
            .logged-in-user-container {
                position: absolute;
                top: 60px;
                right: 70px;
            }

            .back-button-container {
                position: absolute;
                top: 70px;
                left: 70px;
            }
        }

        @media screen and (max-width: 500px) {
            .logged-in-user-p{
                font-size: 12px;
                margin-top: 15px;
            }
        }
    </style>

    <div class="column-container">
        <div class="column-container" style="margin-bottom: 20px;">
            <h1>{{ course.name }} - {{ course.start }}</h1>
            {% if lector %}
                <div class="input-login-container">
                    <button class="course-main-button" onclick="window.location='{% url 'lector_view' lector_hash=lector.hash %}'">Všetky kurzy</button>
                    <button class="course-main-button" onclick="createStudents('{{ course.pin }}')">Vytvoriť študentov <i class="fa-solid fa-user-plus"></i></button>
                    <button class="course-main-button" onclick="openPDF('{{ course.hash }}')">Otvoriť PDF <i class="fa-duotone fa-file-pdf"></i></button>
                </div>
            {% else %}
                <div class="input-login-container" style="margin-left: 20px;">
                    <button class="course-main-button" onclick="createStudents('{{ course.pin }}')">Vytvoriť študentov <i class="fa-solid fa-user-plus"></i></button>
                    <button class="course-main-button" onclick="openPDF('{{ course.hash }}')">Otvoriť PDF <i class="fa-duotone fa-file-pdf"></i></button>
                </div>
            {% endif %}
        </div>

        <div class="search-form-container" style="margin-left: 21px;">
            <form class="search-form" method="get" action="">
                <input type="text" class="search-input" name="input_from_search" placeholder="Vyhľadať študenta" value="{{ request.GET.input_from_search }}">
                <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
                <input type="hidden" name="order" value="{{ request.GET.order }}">
                <button class="search-button" type="submit">Vyhľadať <i class="fa-solid fa-magnifying-glass"></i></button>
                {% if filter_on %}
                    <button class="remove-filter-button" type="button" onclick="removeQueryStringAndReload()"><i class="fa-solid fa-xmark" title="Zrušiť filter"></i></button>
                {% endif %}
            </form>
        </div>

        {% if course_pins_and_tests %}
            <div class="pagination">
                <span class="step-links">
                    {% if loaded_pins.has_previous %}
                        <a href="?page=1{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                            &laquo; prvá
                        </a>
                        <a href="?page={{ loaded_pins.previous_page_number }}{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                            predošlá
                        </a>
                    {% endif %}

                    <span class="current-page">
                        Strana {{ loaded_pins.number }} - {{ loaded_pins.paginator.num_pages }}
                    </span>

                    {% if loaded_pins.has_next %}
                        <a href="?page={{ loaded_pins.next_page_number }}{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                            ďalšia
                        </a>
                        <a href="?page={{ loaded_pins.paginator.num_pages }}{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                            posledná &raquo;
                        </a>
                    {% endif %}
                </span>
                <p>{{ loaded_pins.start_index }} - {{ loaded_pins.end_index }}  ({{ loaded_pins.paginator.count }})</p>
            </div>
        {% endif %}
    </div>

    {% if course_pins_and_tests %}
        <div class="table-responsive">
            <table class="course-pins-table">
                <thead>
                    <tr>
                        <th width="150"><a class="ordering-link" href="?sort_by=order&order={% if current_sort_by == 'order' and current_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_on %}&input_from_search={{ filter_on }}{% endif %}">
                            Poradie {% if current_sort_by == 'order' %} {% if current_order == 'asc' %}&#9650;{% else %}&#9660;{% endif %}{% endif %}
                        </a></th>
                        <th><a class="ordering-link" href="?sort_by=pin&order={% if current_sort_by == 'pin' and current_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_on %}&input_from_search={{ filter_on }}{% endif %}">
                            Pin {% if current_sort_by == 'pin' %} {% if current_order == 'asc' %}&#9650;{% else %}&#9660;{% endif %}{% endif %}
                        </a></th>
                        <th><a class="ordering-link" href="?sort_by=name_surname&order={% if current_sort_by == 'name_surname' and current_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_on %}&input_from_search={{ filter_on }}{% endif %}">
                            Meno a priezvisko {% if current_sort_by == 'name_surname' %} {% if current_order == 'asc' %}&#9650;{% else %}&#9660;{% endif %}{% endif %}
                        </a></th>
                        <th width="120">Upraviť meno</th>
                        <th width="120">Vymazať</th>
                        <th>Testy</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pair in course_pins_and_tests %}
                        <tr>
                            <td>{{ pair.pin.order }}.</td>
                            <td>{{ pair.pin.pin }}</td>
                            <td>
                                {% if pair.pin.name_surname %}
                                    <span class="name">{{ pair.pin.name_surname }}</span>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                <button class="submit-btn" title="Zmeniť meno" onclick="adjustNameSurname('{{ pair.pin.id }}', '{{ pair.pin.pin }}', '{{ pair.pin.name_surname }}')"><i class="fa-solid fa-pencil"></i></button>
                            </td>
                            <td>
                                <button class="submit-btn" title="Vymazať pin" onclick="deletePin('{{ pair.pin.id }}', '{{ pair.pin.pin }}')"><i class="fa-solid fa-trash"></i></button>
                            </td>
                            <td class="grid-container">
                                {% for test in pair.tests %}
                                    {% if test.done %}
                                        <a class="course-test-link test-link-done" title="Náhľad testu"
                                           style="{% if test.points > 63 %}
                                                    color: green;
                                                  {% else %}
                                                    color: orange;
                                                  {% endif %}"
                                           href="{% url 'test_overview_course' course_hash=course.hash pin_hash=pair.pin.hash test_num=test.order %}">Test č. {{ test.order }} - {% if test.points %}{{ test.points }}/80{% else %}<i class="fa-solid fa-square-x"></i>{% endif %}
                                        </a>
                                    {% else %}
                                        <p class="course-test-link" style="color: black;">Test č. {{ test.order }} - {% if test.points %}{{ test.points }}/80{% else %}<i class="fa-solid fa-square-x"></i>{% endif %}</p>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="column-container">
            <div class="pagination">
                <span class="step-links">
                    {% if loaded_pins.has_previous %}
                        <a href="?page=1{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                            &laquo; prvá
                        </a>
                        <a href="?page={{ loaded_pins.previous_page_number }}{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                            predošlá
                        </a>
                    {% endif %}

                    <span class="current-page">
                        Strana {{ loaded_pins.number }} - {{ loaded_pins.paginator.num_pages }}
                    </span>

                    {% if loaded_pins.has_next %}
                        <a href="?page={{ loaded_pins.next_page_number }}{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                            ďalšia
                        </a>
                        <a href="?page={{ loaded_pins.paginator.num_pages }}{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                            posledná &raquo;
                        </a>
                    {% endif %}
                </span>
                <p>{{ loaded_pins.start_index }} - {{ loaded_pins.end_index }}  ({{ loaded_pins.paginator.count }})</p>
            </div>
        </div>
    {% else %}
        <h3 style="text-align: center; margin-top: 50px;">Nenašli sa zatiaľ žiadny študenti</h3>
    {% endif %}

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'scripts/course_view.js' %}"></script>
{% endblock %}