{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <title>TESTY SBS</title>
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="text-centered">
        <div class="column-container">
            <div class="input-login-container">
                <button class="test-select-button" onclick="createTest()">Nový test</button>
            </div>
            {% if progress_text %}
            <br>
            <div class="input-login-container">
                <button class="test-select-button" onclick="continueInTest()">
                    Pokračovať v teste
                    {% if progress_text %}
                        <br>
                        {{ progress_text }}
                    {% endif %}
                </button>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script>
        const testExists = {% if progress_text %}true{% else %}null{% endif %};
    </script>
    <script src="{% static 'scripts/homepage.js' %}"></script>
{% endblock %}