{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <title>TESTY SBS</title>
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="text-centered">
        <div class="column-container">
            <div class="input-login-container">
                <button class="test-select-button" onclick="createTest()">Nový test</button>
            </div>
            <br>
            <div class="input-login-container">
                <button class="test-select-button" onclick="continueInTest()">Pokračovať v teste</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'scripts/homepage.js' %}"></script>
{% endblock %}