{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <title>TESTY SBS - LEKTOR</title>
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}
    {% include 'log-out.html' %}
    <div class="back-button-container">
          <button class="back-button" onclick="window.location.href='{% url 'homepage' %}'"><i class="fa-solid fa-arrow-left"></i> Späť</button>
    </div>

    <style>
        @media screen and (max-width: 1270px) {
            .logged-in-user-p{
                font-size: 20px;
                margin-top: 15px;
            }
            .logged-in-user-container {
                position: absolute;
                top: 60px;
                right: 70px;
            }

            .back-button-container {
                position: absolute;
                top: 70px;
                left: 70px;
            }
        }

        @media screen and (max-width: 500px) {
            .logged-in-user-p{
                font-size: 12px;
                margin-top: 15px;
            }
        }
    </style>

    <div class="column-container">
        <div class="column-container" style="margin-bottom: 20px;">
            <div class="input-login-container">
                <button class="test-select-button" onclick="createNewCourse()">Vytvoriť nový kurz</button>
            </div>
        </div>

        <div class="search-form-container">
            <form class="search-form" method="get" action="">
                <input type="text" class="search-input" name="input_from_search" placeholder="Vyhľadať kurz" value="{{ request.GET.input_from_search }}">
                <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
                <input type="hidden" name="order" value="{{ request.GET.order }}">
                <button class="search-button" type="submit">Vyhľadať <i class="fa-solid fa-magnifying-glass"></i></button>
                {% if filter_on %}
                    <button class="remove-filter-button" type="button" onclick="removeQueryStringAndReload()"><i class="fa-solid fa-xmark" title="Zrušiť filter"></i></button>
                {% endif %}
            </form>
        </div>

        <h2 style="margin-top: 20px;">Prehľad všetkých kurzov</h2>

        <div class="pagination">
            <span class="step-links">
                {% if loaded_courses.has_previous %}
                    <a href="?page=1{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        &laquo; prvá
                    </a>
                    <a href="?page={{ loaded_courses.previous_page_number }}{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        predošlá
                    </a>
                {% endif %}

                <span class="current-page">
                    Strana {{ loaded_courses.number }} - {{ loaded_courses.paginator.num_pages }}
                </span>

                {% if loaded_courses.has_next %}
                    <a href="?page={{ loaded_courses.next_page_number }}{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        ďalšia
                    </a>
                    <a href="?page={{ loaded_courses.paginator.num_pages }}{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        posledná &raquo;
                    </a>
                {% endif %}
            </span>
            <p>{{ loaded_courses.start_index }} - {{ loaded_courses.end_index }}  ({{ loaded_courses.paginator.count }})</p>
        </div>

        <div class="table-responsive">
            <table class="course-pins-table">
                <thead>
                    <tr>
                        <th width="150"><a class="ordering-link" href="?sort_by=pin&order={% if current_sort_by == 'pin' and current_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_on %}&input_from_search={{ filter_on }}{% endif %}">
                            Pin {% if current_sort_by == 'pin' %} {% if current_order == 'asc' %}&#9650;{% else %}&#9660;{% endif %}{% endif %}
                        </a></th>
                        <th width="150"><a class="ordering-link" href="?sort_by=name&order={% if current_sort_by == 'name' and current_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_on %}&input_from_search={{ filter_on }}{% endif %}">
                            Názov {% if current_sort_by == 'name' %} {% if current_order == 'asc' %}&#9650;{% else %}&#9660;{% endif %}{% endif %}
                        </a></th>
                        <th width="150"><a class="ordering-link" href="?sort_by=start&order={% if current_sort_by == 'start' and current_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_on %}&input_from_search={{ filter_on }}{% endif %}">
                            Začiatok {% if current_sort_by == 'start' %} {% if current_order == 'asc' %}&#9650;{% else %}&#9660;{% endif %}{% endif %}
                        </a></th>
                        <th width="150"><a class="ordering-link" href="?sort_by=pin_count&order={% if current_sort_by == 'pin_count' and current_order == 'asc' %}desc{% else %}asc{% endif %}{% if filter_on %}&input_from_search={{ filter_on }}{% endif %}">
                            Počet študentov {% if current_sort_by == 'pin_count' %} {% if current_order == 'asc' %}&#9650;{% else %}&#9660;{% endif %}{% endif %}
                        </a></th>
                        <th width="120">Náhľad kurzu</th>
                        <th width="120">Upraviť</th>
                        <th width="120">Vymazať</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in all_courses %}
                        <tr>
                            <td>{{ course.pin }}</td>
                            <td>{{ course.name }}</td>
                            <td>{{ course.start|date:"d.m.Y" }}</td>
                            <td>{{ course.pin_count }}</td>
                            <td>
                                <button class="submit-btn" title="Náhľad kurzu" onclick="window.location='{% url 'course_view' course_hash=course.hash lector_hash=lector.hash %}'"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </td>
                            <td>
                                <button class="submit-btn" title="Upraviť" onclick="event.stopPropagation(); changeNameCourse('{{ course.id }}', '{{ course.name }}', '{{ course.start|date:'Y-m-d' }}')"><i class="fa-solid fa-pencil"></i></button>
                            </td>
                            <td>
                                <button class="submit-btn" title="Vymazať" onclick="event.stopPropagation(); deleteCourse('{{ course.id }}', '{{ course.name }}')"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if loaded_courses.has_previous %}
                    <a href="?page=1{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        &laquo; prvá
                    </a>
                    <a href="?page={{ loaded_courses.previous_page_number }}{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        predošlá
                    </a>
                {% endif %}

                <span class="current-page">
                    Strana {{ loaded_courses.number }} - {{ loaded_courses.paginator.num_pages }}
                </span>

                {% if loaded_courses.has_next %}
                    <a href="?page={{ loaded_courses.next_page_number }}{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        ďalšia
                    </a>
                    <a href="?page={{ loaded_courses.paginator.num_pages }}{% for key, value in filter_parameters.items %}{% if value %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        posledná &raquo;
                    </a>
                {% endif %}
            </span>
            <p>{{ loaded_courses.start_index }} - {{ loaded_courses.end_index }}  ({{ loaded_courses.paginator.count }})</p>
        </div>

    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'scripts/lector_view.js' %}"></script>
{% endblock %}