{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <title>Test č. {{ test_obj.order }} história</title>
{% endblock %}

{% block content %}
    {% include 'log-out.html' %}

    <style>
        @media screen and (max-width: 1175px) {
            .logged-in-user-p{
                font-size: 20px;
                margin-top: 15px;
            }
            .logged-in-user-container {
                position: absolute;
                top: 90px;
                right: 70px;
            }
        }

        @media screen and (max-width: 500px) {
            .logged-in-user-p{
                font-size: 12px;
                margin-top: 15px;
            }
        }
    </style>

    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 30px; margin-bottom: 30px;">
        <div class="history-buttons-container">
            <a class="btn btn-outline-primary my-tests-button" href="{% url 'my_tests' hash=hash %}">Moje testy</a>
            <button class="btn btn-outline-primary my-tests-button" onclick="startTestAgain('{{ hash }}', {{ test_obj.order }})">Začať test znova</button>
        </div>
        <div>
            <h2 style="text-align: center;">Test č. {{ test_obj.order }}</h2>
            <h3>Dosiahnuté body: {{ test_obj.points }} / 80</h3>
        </div>
    </div>

    <div class="all-questions-container-history">
    {% for question in all_questions %}
        <h3 class="history-question-header">{{ question.question_no }}. {{ question.question_text }}</h3>
        {% if question.correctly_answered %}
            <ul>
                <li class="history-question-li" style="{% if question.answer_a == question.correct_answer %}background-color: #9ed5b6;{% endif %}">a) {{ question.answer_a }}</li>
                <li class="history-question-li" style="{% if question.answer_b == question.correct_answer %}background-color: #9ed5b6;{% endif %}">b) {{ question.answer_b }}</li>
                <li class="history-question-li" style="{% if question.answer_c == question.correct_answer %}background-color: #9ed5b6;{% endif %}">c) {{ question.answer_c }}</li>
            </ul>
        {% else %}
            <ul>
                <li class="history-question-li" style="{% if question.answer_a == question.correct_answer %}background-color: #9ed5b6;{% elif question.answer_a == question.picked_answer %}background-color: #fb7e80;{% endif %}">a) {{ question.answer_a }}</li>
                <li class="history-question-li" style="{% if question.answer_b == question.correct_answer %}background-color: #9ed5b6;{% elif question.answer_b == question.picked_answer %}background-color: #fb7e80;{% endif %}">b) {{ question.answer_b }}</li>
                <li class="history-question-li" style="{% if question.answer_c == question.correct_answer %}background-color: #9ed5b6;{% elif question.answer_c == question.picked_answer %}background-color: #fb7e80;{% endif %}">c) {{ question.answer_c }}</li>
            </ul>
        {% endif %}
    {% endfor %}
    </div>

    <div class="history-buttons-container">
        <a class="btn btn-outline-primary my-tests-button" href="{% url 'my_tests' hash=hash %}">Moje testy</a>
        <button class="btn btn-outline-primary my-tests-button" onclick="startTestAgain('{{ hash }}', {{ test_obj.order }})">Začať test znova</button>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'scripts/test-history.js' %}"></script>
{% endblock %}