{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <title>{{ test_name }}</title>
{% endblock %}

{% block content %}
    <div class="d-flex gap-2 justify-content-center align-items-center flex-wrap">
        <h2 class="test-number-header text-center">{{ test_name }}</h2>
    </div>

    <div class="text-centered ">
      <div class="progress-wrapper">
          <div class="numbers-container">
            <span class="start-number">{{ user_progress }}</span>
          </div>
          <div class="progress-container">
            <div class="progress-bar" id="myProgressBar"></div>
            <b class="progress-percentage">{{ done_questions_percent }}%</b>
          </div>
          <div class="numbers-container">
            <span class="end-number">{{ remaining_questions }}</span>
          </div>
      </div>
        <h4 style="font-size: {{ current_font_size }}px; text-align: left;" class="test-question-header">{{ current_question.question_no}}. {{ current_question.question_text }}</h4>
        <div class="column-container-test">
            <button id="question-a" style="font-size: {{ current_font_size }}px;" lang="sk" class="question-select-button" onclick="checkAnswer('{{ current_question.id }}', 'answer_a')">a) {{ current_question.answer_a }}</button>
            <button id="question-b" style="font-size: {{ current_font_size }}px;" lang="sk" class="question-select-button" onclick="checkAnswer('{{ current_question.id }}', 'answer_b')">b) {{ current_question.answer_b }}</button>
            <button id="question-c" style="font-size: {{ current_font_size }}px;" lang="sk" class="question-select-button" onclick="checkAnswer('{{ current_question.id }}', 'answer_c')">c) {{ current_question.answer_c }}</button>
        </div>

        <div style="margin-top: 25px; margin-bottom: 50px;" class="d-flex gap-1 justify-content-center w-100">
            <button style="font-size: {{ current_font_size }}px; width: 50%;" class="cancel-test-button btn btn-outline-danger flex-grow-1" onclick="cancelTestConfirmation()">Zrušiť test</button>
            <button style="font-size: {{ current_font_size }}px; width: 50%;" class="next-question-button btn btn-outline-primary initially-hidden flex-grow-1" id="nextButton" onclick="nextQuestion()">Ďalšia otázka</button>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="d-flex align-items-center justify-content-center gap-2">
            <button id="decreaseFontSize" style="padding: 4px 12px; border-radius: 50%;" class="btn btn-sm btn-secondary">-</button>
            <span id="fontSizeLabel">Veľkosť textu</span>
            <button id="increaseFontSize" style="padding: 4px 10px; border-radius: 50%;" class="btn btn-sm btn-secondary">+</button>
        </div>
        <br>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script>
        var currentFontSize = {{ current_font_size }};
        var remaining_questions = '{{ remaining_questions }}';
        var percentage = {{ done_questions_percent }};
        var question_num = {{ current_question.question_no }};
    </script>
    <script src="{% static 'scripts/test.js' %}"></script>
{% endblock %}