{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <title>{{ test_name }}</title>
{% endblock %}

{% block content %}
    <div class="d-flex gap-2 justify-content-center align-items-center flex-wrap">
        <h2 class="test-number-header text-center">{{ test_name }}</h2>
    </div>

    <div class="text-centered ">
      <div class="progress-wrapper">
          <div class="numbers-container">
            <span class="start-number">{{ user_progress }}</span>
          </div>
          <div class="progress-container">
            <div class="progress-bar" id="myProgressBar"></div>
            <b class="progress-percentage">{{ done_questions_percent }}%</b>
          </div>
          <div class="numbers-container">
            <span class="end-number">{{ remaining_questions }}</span>
          </div>
      </div>
        <h4 style="font-size: {{ current_font_size }}px; text-align: left;" class="test-question-header">{{ current_question.question_no}}. {{ current_question.question_text }}</h4>
        <div class="column-container-test">
            <button id="question-a" style="font-size: {{ current_font_size }}px;" class="question-select-button" onclick="checkAnswer('{{ current_question.id }}', 'answer_a')">a) {{ current_question.answer_a }}</button>
            <button id="question-b" style="font-size: {{ current_font_size }}px;" class="question-select-button" onclick="checkAnswer('{{ current_question.id }}', 'answer_b')">b) {{ current_question.answer_b }}</button>
            <button id="question-c" style="font-size: {{ current_font_size }}px;" class="question-select-button" onclick="checkAnswer('{{ current_question.id }}', 'answer_c')">c) {{ current_question.answer_c }}</button>
        </div>

        <div style="margin-top: 10px; margin-bottom: 50px;" class="d-flex gap-1 justify-content-center flex-wrap">
            <button class="cancel-test-button btn btn-outline-danger" onclick="cancelTestConfirmation()">Zrušiť test</button>
                    <!-- Bootstrap Button Dropdown -->
            <button type="button" id="changeFontSizeButton" class="btn btn-primary dropdown-toggle d-md-inline-block d-none btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                Velkosť textu ({{ current_font_size }}px)
            </button>
            <button type="button" id="changeFontSizeButtonMobile" class="btn btn-primary dropdown-toggle d-md-none btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                {{ current_font_size }}px
            </button>
            <button style="font-size: {{ current_font_size }}px;" class="btn btn-outline-primary initially-hidden" id="nextButton" onclick="nextQuestion()">Ďalšia otázka</button>
            <ul class="dropdown-menu" id="font-size-menu">
                <!-- Font size options will be inserted here dynamically -->
            </ul>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script>
        var remaining_questions = '{{ remaining_questions }}';
        var percentage = {{ done_questions_percent }};
        var question_num = {{ current_question.question_no }};
    </script>
    <script src="{% static 'scripts/test.js' %}"></script>
{% endblock %}