body {
  margin: 0 10%;
  padding: 0px;
}

.navbar {
  background: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.test-question-header {
    font-weight: bold;
    margin-top: 10px;
}

.test-number-header {
    font-size: 30px;
    margin: 10px;
}

#countdown {
    font-size: 30px;
}

.finish-test-button {
    font-size: 45px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.navbar-button {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: 0.3s;
}

.navbar img {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  height: auto;
}

.text-centered {
  text-align: center;
}

.test-select-button {
  text-decoration: none;
  width: 400px;
  padding: 15px 50px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  height: 80px;
}

.course-main-button {
  width: 300px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  height: 60px;
}

.test-select-button:hover,
.search-button:hover,
.course-main-button:hover {
  background-color: #e5e5e5;
}

.bordered-container {
  width: fit-content;
  margin: 0 auto;
  border: none;
  padding: 40px 70px;
  padding-top: 20px;
  border-radius: 5px;
  margin-top: 15px;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-container-test {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.previous-next-buttons {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

.cancel-test-button-container{
    margin-top: 50px;
    margin-bottom: 30px;
}

.initially-hidden {
    display: none;
}

.cancel-test-button:hover {
  background-color: red;
}

.next-question-button {
  order: 2;
}

.question-select-button {
  background-color: white;
  text-align: left;
  margin-bottom: 11px;
  border: 1px solid grey;
  border-radius: 8px;
  font-size: 17px;
  transition: 0.2s;
}

.question-select-button:hover {
  background-color: #e1e1e1;
}

.question-select-button:disabled {
  color: black;
}

.progress-wrapper {
  display: flex;
  align-items: center;
}

.numbers-container {
  display: flex;
}

.start-number {
  margin: auto;
  padding: 2px;
  margin-right: 5px;
}

.end-number {
  margin: auto;
  padding: 6px;
  text-align: center;
}

.progress-container {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  width: 0;
  height: 30px;
  background-color: #1082f2db;
  text-align: center;
  line-height: 30px;
  color: white;
}

.progress-percentage {
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  color: black;
}

.edit-icon {
    cursor: pointer;
    color: #007bff;
}
.edit-input {
    display: none;
}

.tests-container-new {
    display: flex;
    items-align: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
}

.tests-container-new a{
    cursor: pointer;
}

.test-link {
    width: 180px;
    height: 250px;
    border-radius: 30px;
    border: 2px solid black;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 25px;
    transition: 0.3s;
}

.test-link:hover {
    scale: 1.2;
}

.dots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width: 80%;
}

.dot-with-number-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    cursor: pointer;
}

.action-dot {
    transition: 0.3s;
}

.grey-dot {
    color: #bdbdbd;
}

.blue-dot {
    color: #1082f2db;
}

.black-dot {
    color: black;
}

.action-dot:hover {
    color: black;
}

.action-dot-number {
    text-decoration: none;
    color: black;
}

.logged-in-user-container {
    position: absolute;
    top: 20px;
    right: 70px;
}

.logged-in-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logged-in-user-p{
    font-size: 25px;
    margin-top: 15px;
}

.log-out-button {
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
}

.log-out-button:hover,
.back-button:hover {
  background-color: #e5e5e5;
}

.input-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.pin-input {
    width: 275px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    height: 80px;
}

.log-in-button {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  height: 80px;
}

.log-in-button:hover {
  background-color: #e5e5e5;
}

.my-tests-button {
    font-size: 30px;
    margin: 5px;
}

.history-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.table-responsive {
    width: 90%;
}

.course-pins-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin-top: 8px;
    text-align: center;
}

.course-pins-table th, td {}

.course-pins-table thead th {
    background-color: #244b90;
    color: white;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.course-pins-table tbody td {
    padding: 8px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.submit-btn {
    background-color: #244b90;
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin: auto;
}

.submit-btn:hover {
    opacity: 0.8;
}

.course-pins-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.course-pins-table tbody tr:hover {
    background-color: #ddd;
}

.course-test-link {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    text-decoration: none;
    cursor: default;
}

.test-link-done:hover {
    text-decoration: underline;
    cursor: pointer;
}

.remove-filter-button {
    position: absolute;
    font-size: 22px;
    top: 5px;
    left: 163px;
    border: none;
    z-index: 9999;
    color: red;
    background-color: transparent;
    transition: 0.3s;
}

.remove-filter-button:hover {
    scale: 1.3;
    cursor: pointer;
}

.pagination {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.step-links a {
    color: #244b90;
    margin-right: 10px;
    text-decoration: none;
}

.current-page {
    font-weight: bold;
}

.search-form-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form p {
    margin: auto;
}

.search-input {
    font-size: 15px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.ordering-link {
    color: white;
    font-size: 20px;
}

.ordering-link:hover {
    color: grey;
    text-decoration: underline;
}

.search-button {
  width: 200px;
  padding: 10px 50px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  margin: auto;
}

.back-button-container {
    position: absolute;
    top: 30px;
    left: 70px;
}

.back-button {
  padding: 5px 25px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(min-content, 1fr);
  gap: 0px;
  text-align: left;
}

@media screen and (max-width: 500px) {

    .table-responsive {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .course-pins-table th, td {
        white-space: nowrap;
    }

    .course-main-button {
      width: 120px;
      font-size: 12px;
      height: 50px;
    }

    .search-button {
      width: auto;
      padding: 4px 30px;
      font-size: 12px;
    }

    .back-button {
      padding: 5px 15px;
      font-size: 10px;
    }

    .pin-input,
    .log-in-button,
    .test-select-button {
        height: 60px;
        font-size: 15px;
    }

    .swal2-popup {
        width: auto;
        height: auto;
        font-size: 12px;
    }

    .test-link {
        width: 38%;
        height: 20vh;
        border-radius: 30px;
        border: 2px solid black;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-align: center;
        color: black;
        font-size: 15px;
        transition: 0.3s;
    }

    .navbar h4{
        font-size: 15px;
    }

    .log-out-button {
      padding: 5px 10px;
      border: 2px solid black;
      border-radius: 5px;
      background-color: white;
      color: black;
      cursor: pointer;
      transition: 0.3s;
      font-size: 10px;
    }

    .my-tests-button {
        font-size: 15px;
        margin: 5px;
    }

    .history-buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .test-number-header {
        font-size: 16px;
        margin: 10px;
    }

    .test-question-header,
    .history-question-header {
        font-size: 14px;
    }

    .history-question-li {
        font-size: 12px;
    }

    .cancel-test-button-container{
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .dots-container {
        width: 100%;
    }

    .question-select-button {
      font-size: 13px;
    }

    #countdown {
        font-size: 20px;
    }

    .finish-test-button {
        font-size: 25px;
    }

    .next-question-button {
        font-size: 12px;
    }

    .dot-with-number-container {
        margin: 4px;
    }

    .action-dot {
        transition: 0.3s;
        font-size: 12px;
    }
}